<div class="text">
      <h1>アカウント情報</h1>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("アカウントを編集する", "/users/#{@user.id}/edit") %>
      <% end %>
      <p>投稿一覧</p>
    <% @user.posts.each do |post| %>
      <div class="list">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
         <p> <%= link_to(post.content, "/posts/#{post.id}") %></p>
        </div>
    <% end %>