<div class="text">
<h1 style="padding:50px">メニュー</h1>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">お悩みを質問して、解決!</h5>
        <p class="card-text">資産運用・退職金の使い方など</p>
        <div style="text-align:right">
        <%= link_to("質問を投稿＆回答を見る", "/posts/index") %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
<h5 class="card-title">イベント情報＆ニュース</h5>
        <p class="card-text">年金制度改正などのニュース、高齢者向けのイベント情報が見れます!</p>
        <div style="text-align:right">
        <%= link_to("イベント情報＆ニュースを見る", "/articles/index") %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">旅行情報</h5>
      <p class="card-text">おすすめの旅行情報を共有！</p>
      <div style="text-align:right">
      <%= link_to("旅行情報を見る", "/hobbies/index") %>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">料理情報</h5>
      <p class="card-text">料理情報が見れます!</p>
      <div style="text-align:right">
      <%= link_to("料理情報を見る", "/cooks/index") %>
      </div>
  </div>
</div>
</div>
  <div class="text">
    <p><h2 class="pd">お悩み事の質問例</h2></p>
  <p>(質問一覧)</p>
    <% @posts.each do |post| %>
      <div class="list">
          <p><%= link_to(post.user.name, "/users/#{post.user.id}") %></p>
         <p> <%= link_to(post.content, "/posts/#{post.id}") %></p>
      </div>
    <% end %>
    </div>
